*{
    margin: 0;

}

.nav-container{
    background-color: rgba(26, 21, 21, 0.692);
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_light{
    width: 250px;
}
.nav-text{
    display: flex;
    align-items: center;
}
.nav-child{
    margin-right: 20px;
}
.cv{
    background-color: orangered;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    
}
.cv:hover{
    background-color: green;
}
.main-page{
    background-image: url("../images/background.png"), 
    linear-gradient(360deg, rgb(248, 228, 205) , rgb(32, 28, 28));
    display: flex;
    height: 100vh;
    border: 2px solid green;
    align-items: center;
    color: aliceblue;
    justify-content: space-around;
}

.main-img{
    width: 400px;
}
.main-top-text{
    color: orangered;
}
.titel{
    font-size: 50px;
    font-weight: bold;
}

.pareg{
    font-size: 20px;
    margin: 15px;
}

.contact{
    background-color: orangered;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    border: none;    
}